server:
  port: 9094

spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://localhost:3306/estore_payments?createDatabaseIfNotExist=true
    username: root
    password: Ajjuvarsh@7
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      idle-timeout: 300000
      pool-name: PaymentServicePool
      max-lifetime: 1200000
      connection-timeout: 20000
      auto-commit: true
      connection-test-query: SELECT 1
      validation-timeout: 3000
      leak-detection-threshold: 60000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
          fetch_size: 50
        cache:
          use_second_level_cache: false
          use_query_cache: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30
    metadata-map:
      management.context-path: /actuator

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

info:
  app:
    name: E-Store Payment Service
    description: Payment Processing Service
    version: 1.0.0
    database: estore_payments

jwt:
  secret: c3VwZXItc2VjcmV0LXN1cGVyLXNlY3JldC1zdXBlci1zZWNyZXQyNTY=
  expirationMs: 86400000